<div
  class="container-fluid">
  <h1>Shifts</h1>
  <form>

    <label>Event Shifts</label>

    <div
      class="form-inline">
      <app-time-picker
        class="row"
        (onSetTime)='timeChanged($event,"StartTime")'></app-time-picker>

      <app-time-picker
        class="row"
        (onSetTime)='timeChanged($event,"EndTime")'></app-time-picker>
    </div>


    <button
      (click)="addShift"
      class="btn btn-default">Add Shift</button>


    <button
      type="submit"
      class="btn btn-success">Save</button>
      
  </form>
</div>