<div
  class="container-fluid">
  <label>Event Shifts</label>
  <form>
    <div
      class="form-inline">
      <label
        for="startTime">Start time</label>
      <app-time-picker
        class="row"
        name="startTime"
        (onSetTime)='timeChanged($event,"StartTime")'></app-time-picker>
    </div>
    <div
      class="form-inline">
      <label
        for="endTime">End time</label>
      <app-time-picker
        class="row"
        name="endTime"
        (onSetTime)='timeChanged($event,"EndTime")'></app-time-picker>
    </div>

    <button
      (click)="addShift"
      class="btn btn-default">Add Shift</button>
    <button
      type="submit"
      class="btn btn-success">Save</button>
  </form>

  <app-shift-viewer></app-shift-viewer>

</div>