<ng-container *ngFor="let day of days;let i=index">
  <!--<h3>Day #{{i+1}}</h3>
  <br>
  <app-day-assignment (onSaveDay)="onSaveDay($event,i)" [day]="day"></app-day-assignment>
  <hr>
  <a routerLink="print"><button class="btn btn-success pull-right" > Print </button></a>-->
  <a routerLink="day/{{i}}"><button class="btn btn-default">Day {{i+1}}</button></a>
</ng-container>

<ng-container *ngIf="!days || !days.length">
  <h3>Mmm... nothing seems to be here</h3>
  <button routerLink='event/new' class="btn btn-default">Create Event</button>
  <button routerLink='excel' class="btn btn-default">Import from Excel</button>
</ng-container>


<!--<div class="row">
  <div class="col-xs-12 col-sm-12col-xs-12 col-md-12col-xs-12 col-lg-12col-xs-12">
    <pager [totalItems]="this.days.length" [(ngModel)]="currentPageIndex" (pageChanged)="pageChanged($event)" pageBtnClass="btn" itemsPerPage="1"></pager>
  </div>
</div>-->