<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-block">
    <accordion>
      <ng-container *ngFor="let comm of getAllCommittees();let i=index">
        <div [ngClass]="{row: i%2===1}">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <app-committee-members [CommitteeName]="comm" (MemberSelected)="takeMember(comm,$event)" (MemberReleased)="releaseMember($event)" [SelectedMembers]="getSelectedMembersOfCommittee(comm)" [FreeMembers]="getMembersOfCommittee(comm)"></app-committee-members>
          </div>
        </div>
      </ng-container>
    </accordion>
  </div>

</div>