<accordion>
  <accordion-group
    #group>
    <div
      accordion-heading>
      <strong>{{shifts.length }} Shift{{(shifts.length!=1) ?'s':''}}</strong>
      <i class="pull-right float-xs-right glyphicon"
        [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>
    
    <div>
      <table
        class="table">
        <thead
          class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Start</th>
            <th>End</th>
          </tr>

        </thead>
        <tbody>
          <tr
            *ngFor="let shift of shifts;let i= index">
            <th
              scope="row">{{i+1}}</th>
            <td>{{shift.startDate|date:'shortTime'}}</td>
            <td>{{shift.endDate|date:'shortTime'}}</td>
            <td>
              <button
                class="btn btn-default"
                (click)="removeShift(shift)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </accordion-group>
</accordion>