<div class="container">
    <div class="row login-form">
        <h1>{{mssg}}</h1>
    <div class="col-md-6 col-lg-offset-3">
        <div class="input-group input">
            <span class="input-group-addon" id="basic-addon1">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </span>
            <input type="email" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1"
            [(ngModel)]='email'>
        </div>
        <div class="input-group input">
            <span class="input-group-addon" id="basic-addon1">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
            </span>
            <input class="form-control" placeholder="Password" type="password" aria-describedby="basic-addon1"
            [(ngModel)]='password'>
        </div>
        <div class="input-group center-block">
            <button class="btn btn-default center-block" type="button" (click)='onLoginClicked()'>Login!</button>
        </div>
    </div>
    </div>
</div>