{{this.members.length}}
- {{this.selectedMembers.length}}

<div
  class="container">
  <input
    [(ngModel)]="selected"
    [typeahead]="members"
    typeaheadOptionField="name"
    (typeaheadOnSelect)="typeaheadOnSelect($event)"
    class="form-control">
</div>

<dynamic-table
[properties]='["name"]'
[propertyDisplayNames]="['Start Date']"
[items]="selectedMembers"
(itemRemoved)="removeMember($event)"
></dynamic-table>

<div
  class="container">
  <table
    class="table">
    <thead
      class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Member</th>
      </tr>

    </thead>
    <tbody>
      <tr
        *ngFor="let member of selectedMembers;let i= index">
        <th
          scope="row">{{i+1}}</th>
        <td>{{member.name}}</td>
        <td>
          <button
            class="btn btn-default"
            (click)="removeMember(member,i)"><span  style="color:red" class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>