{{this.commShiftMembers.length}} - {{this.selectedMembers.length}}

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <input [(ngModel)]="selected" [typeahead]="commShiftMembers" typeaheadOptionField="name" (typeaheadOnSelect)="typeaheadOnSelect($event)" placeholder="Find" class="form-control">
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <dynamic-table [properties]='["name"]' [propertyDisplayNames]="['Name']" [items]="selectedMembers" (itemRemoved)="removeMember($event)"></dynamic-table>
  </div>

</div>