<ng-container *ngIf="isEmpty">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Nothing is here...</h1>
    <button routerLink="/" class="btn btn-default">Upload excelsheet</button>
  </div>
</ng-container>

<ng-container *ngIf="!isEmpty">
  <h1>Assign Members</h1>
  <ng-container *ngFor="let shCount of dayShifts; let i= index">
    <div class="row">

      <ng-container *ngFor="let shIndex of this.memberService.getNumberAsIterable(shCount)">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <button class="btn btn-default" routerLink="/shift/{{i}}/{{shIndex}}">Shift {{shIndex+1}}</button>
        </div>
      </ng-container>

    </div>

  </ng-container>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button routerLink="/excel-export" class="btn btn-default">View All</button>
    </div>
  </div>
</ng-container>