<accordion>
  <accordion-group
    #group>
    <div
      accordion-heading>
      <strong>Day 0 {{eventDay.dayDate?.toDateString()}}</strong>
      <i class="pull-right float-xs-right glyphicon"
        [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>

<label for="date-pick">Date </label>
    <app-date-picker
    name="date-pick"
      (dateChanged)="onDateChanged($event)"></app-date-picker>


    <app-shift-editor-form
      (shiftAdded)="onShiftSubmit($event)"></app-shift-editor-form>

    <div
      class="form-group">
      <app-shift-viewer
        [shifts]="eventDay.shifts"></app-shift-viewer>
    </div>

    <div
      class="form-group">
      <button
        type="button"
        (click)="saveDay()"
        class="btn btn-success pull-right">Save</button>
    </div>


  </accordion-group>
</accordion>