<accordion>
  <accordion-group
    #group>
    <div
      accordion-heading>
      <strong>
        <span class="glyphicon glyphicon-list-alt"></span>
        Day {{dayNumber+1}} {{eventDay.dayDate?.toDateString()}}</strong>
      <i class="pull-right float-xs-right glyphicon"
        [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>

    <label
      for="date-pick">Date </label>
    <app-date-picker
      name="date-pick"
      (dateChanged)="onDateChanged($event)"></app-date-picker>



    <tabset>
      <tab>
        <template
          tabHeading>
          
          <!--glyphicon colors are set in the main css file styles.css-->
      <i class="glyphicon glyphicon-calendar"></i> Shifts
    </template>

        <app-shift-editor-form
          (shiftAdded)="onShiftSubmit($event)"></app-shift-editor-form>

        <div
          class="form-group">
          <dynamic-table
            [properties]="['startDate','endDate']"
            [propertyDisplayNames]="['Start Date','End Date']"
            [pipe]="pipe"
            [pipeArgs]="[pipeFormat]"
            (itemRemoved)="onItemRemoved($event)"
            [items]="eventDay.shifts"></dynamic-table>
        </div>

        <div
          class="form-group">
          <button
            type="button"
            (click)="saveDay()"
            class="btn btn-success pull-right">Save</button>
        </div>

      </tab>
      <tab>
        <template
          tabHeading>
      <i class="glyphicon glyphicon-file"></i> Sessions
    </template>
        <div
          class="form-group">
          <app-session-editor></app-session-editor>
        </div>

      </tab>

    </tabset>
  </accordion-group>
</accordion>