<div class="form-group">
<h3>
  Edit shifts
</h3>

<form>
  <div
    class="form-inline">
    <label
      for="startTime">From</label>
  
    <app-time-picker
      class="row"
      name="startTime"
      (onSetTime)='timeChanged($event,"StartTime")'></app-time-picker>

  </div>
  
  
  <div
    class="form-inline">
    <label
      for="endTime">To</label>
    <app-time-picker 
      class="row"
      name="endTime"
      (onSetTime)='timeChanged($event,"EndTime")'></app-time-picker>
  </div>

  
  <div
    *ngIf="hasError"
    class="alert alert-danger">
    <strong>Please note!</strong>
    <p>Shift end time is less than or equal to its
      start time
      </p>
  </div>

<button
    (click)="addShift()"
    class="btn btn-default">Add Shift</button>
</form>
</div>