<div class="container-fluid">

    <form>
         <div class="form-group alert alert-info">
            <label for="event">
                <span class="glyphicon glyphicon-bullhorn"></span> Event:
            </label>
            <select class="form-control" id="eventId" (change)='onEventSelected($event.target.value)'>
                <option value='0' selected > -- select an option -- </option>
                <option *ngFor='let event of eventsList' value="{{event.id}}">{{event.event.eventName}}</option>
            </select>
        </div>
        
        <!-- <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
            </label>
            <label class="btn btn-primary active">
                <input type="checkbox" autocomplete="off"> Checkbox 2
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off"> Checkbox 3
            </label>
        </div> -->

        <div class="container">
            <div class="row">
                    <h2 class="text-center"> {{eventData ? eventData.event.eventName : 'Please Select an Event'}} </h2>
            </div>
            <div class="container" *ngIf='eventData'>
            <div class="row">
                <div class="panel panel-default" *ngFor='let day of eventData.avalHash; let i = index'>
                    <div class="panel-heading">
                        <div class="panel-title">Day {{i+1}}</div>    
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <!-- <div class="checkbox" *ngFor='let shift of day; let j = index'>
                                <label><input type="checkbox" (CheckboxStateChange)='onChanged(i, j)'
                                [checked]="eventData.avalHash[i][j]" value="{{j}}">Shift {{j + 1}}</label>
                            </div> -->
                            <div class="btn-group" data-toggle="buttons">
                                <button *ngFor='let shift of day; let j = index'
                                class="btn btn-default  {{eventData.avalHash[i][j] ? 'btn-success' : ''}}"
                                (click)="onChanged(i, j)"  id='check{{i}}{{j}}'>
                                    Shift {{i}} {{j}} ( {{eventData.event.eventDays[i].shifts[j].startDate}} - {{eventData.event.eventDays[i].shifts[j].endDate}} )
                                </button>
                                <!-- <label *ngFor='let shift of day; let j = index'
                                class="btn btn-default  {{eventData.avalHash[i][j] ? 'btn-success' : ''}}"
                                for='check{{i}}{{j}}'>
                                    <button (click)="onChanged(i, j)"  id='check{{i}}{{j}}' autocomplete="off"> Shift {{i}} {{j}} ( {{eventData.event.eventDays[i].shifts[j].startDate}} - {{eventData.event.eventDays[i].shifts[j].number}} ) 
                                    </button>
                                </label> -->
                            </div>    
                        </div>    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-success"
                    (click)='onSaveClicked()'>Submit</button>
                </div>
            </div>
            </div>
        </div>
        

    </form>

</div>