<div class="container-fluid">

    <form>
         <div class="form-group alert alert-info">
            <label for="event">
                <span class="glyphicon glyphicon-bullhorn"></span> Event:
            </label>
            <select class="form-control" id="eventId" (change)='onEventSelected($event.target.value)'>
                <option value='0' selected > -- select an option -- </option>
                <option *ngFor='let event of eventsList' value="{{event.id}}">{{event.event.eventName}}</option>
            </select>
        </div>
        
        

        <div class="container">
            <div class="row">
                    <h2 class="text-center"> {{eventData ? eventData.event.eventName : 'Please Select an Event'}} </h2>
            </div>
            <div class="container" *ngIf='eventData'>
            <div class="row">
                <div class="panel panel-default" *ngFor='let day of eventData.avalHash; let i = index' [@leftFadeIn]="state">
                    <div class="panel-heading">
                        <div class="panel-title">Day {{i+1}}</div>    
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            
                            <div class="btn-group" data-toggle="buttons">
                                <button *ngFor='let shift of day; let j = index'
                                class="btn btn-primary  {{eventData.avalHash[i][j] ? 'btn-success' : ''}}"
                                (click)="onChanged(i, j)"  id='check{{i}}{{j}}'>
                                    Shift {{i}} {{j}} ( {{eventData.event.eventDays[i].shifts[j].startDate}} - {{eventData.event.eventDays[i].shifts[j].endDate}} )
                                </button>
                                
                            </div>    
                        </div>    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"
                    (click)='onSaveClicked()'>Submit</button>
                </div>
            </div>
            </div>
        </div>
        

    </form>

</div>