<div class="container-fluid">

    <form>
         <div class="form-group alert alert-info">
            <label for="event">
                <span class="glyphicon glyphicon-bullhorn"></span> Event:
            </label>
            <select class="form-control" id="eventId" (change)='onEventSelected($event.target.value)'>
                <option value='0' selected > -- select an option -- </option>
                <option *ngFor='let event of eventsList' value="{{event.id}}">{{event.title}}</option>
            </select>
        </div>

        <div class="container">
            <div class="row">
                    <h2 class="text-center"> {{eventData ? eventData.title : 'Please Select an Event'}} </h2>
            </div>
            <div class="container" *ngIf='eventData'>
            <div class="row">
                <div class="panel panel-default" *ngFor='let day of eventData.avalHash; let i = index'>
                    <div class="panel-heading">
                        <div class="panel-title">Day {{i+1}}</div>    
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="checkbox" *ngFor='let shift of day; let j = index'>
                                <label><input type="checkbox" (CheckboxStateChange)='onChanged(i, j)'
                                [checked]="eventData.avalHash[i][j]" value="{{j}}">Shift {{j + 1}}</label>
                            </div>    
                        </div>    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-success"
                    (click)='onSaveClicked()'>Submit</button>
                </div>
            </div>
            </div>
        </div>
        

    </form>

</div>