<div
  class="container-fluid">
  <input
    type="number"
    (focusout)="setTimeOfDay()"
    [(ngModel)]="time.hours"
    name="hours"
    class="form-control"
    min="1"
    max="12">

  <input
    type="number"
    (focusout)="setTimeOfDay()"
    [(ngModel)]="time.minutes"
    name="minutes"
    min="0"
    class="form-control"
    max="60">

  <select
    (focusout)="setTimeOfDay()"
    class="form-control "
    name="time.isPm"
    [(ngModel)]="time.isPm"
    id="inlineFormCustomSelect">
    <option selected [value]="false">AM</option>
    <option [value]="true">PM</option>
    </select>
</div>