<div
  class="container-fluid">
  <input
    type="number"
    (focusout)="setTimeOfDay()"
    [(ngModel)]="time.hours"
    name="hours"
    min="1"
    max="12"
    class="form-control">

  <input
    type="number"
    (focusout)="setTimeOfDay()"
    [(ngModel)]="time.minutes"
    name="minutes"
    min="0"
    max="60"
    class="form-control">

  <select
    (focusout)="setTimeOfDay()"
    class="form-control "
    name="time.timeOfDay"
    [(ngModel)]="dayTimeIdx"
    id="inlineFormCustomSelect">
    <option selected value="0">AM</option>
    <option value="1">PM</option>
    </select>
</div>