<p>
  excel-export works!
</p>




<ng-container *ngIf="allMembers">
  <ng-container *ngFor="let _ of getEventDaysDetails();let i = index">
    <h2>Day {{i+1}}</h2>

    <ng-container *ngFor="let _ of getEventShiftsOfDay(i);let j = index">
      <h3>Shift {{j+1}}</h3>

      <div class="row">
        <ng-container *ngFor="let com of getCommittees()">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4>{{com}}</h4>
            <ol>
              <ng-container *ngFor="let member of getAssignedCommitteeMembers(i,j,com)">
                <li> {{member.name}}
              </ng-container>
            </ol>
            <br>
          </div>
        </ng-container>
      </div>

      <hr>
    </ng-container>
  </ng-container>
</ng-container>