<div
  class="panel panel-default">
  <div
    class="panel-heading clearfix">
    <label
      class="panel-title pull-left">{{shifts.length }} Shift{{shifts.length>1 && shifts.length!=0 ?'s':''}} </label>
    <button
      class="btn btn-default pull-right"
      data-toggle="collapse"
      (click)="visible=!visible"
      data-target="#elem-shift-spoiler">{{visible?"Hide":"Show"}} Shifts</button>
  </div>

  <div
    id="elem-shift-spoiler"
    class="collapse">

    <div
      class="panel-body">

      <table
        class="table">
        <thead
          class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Start</th>
            <th>End</th>
          </tr>

        </thead>
        <tbody>
          <tr
            *ngFor="let shift of shifts;let i= index">
            <th
              scope="row">{{i+1}}</th>
            <td>{{shift.start|shiftString}}</td>
            <td>{{shift.end|shiftString}}</td>
            <td>
              <button
                class="btn btn-default"
                (click)="removeShift(shift)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>