<accordion>
  <accordion-group #group>
    <div accordion-heading>
      {{headerText}}
      <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>

    <input-search class="stack-element" (searchRequest)="onSearchClicked($event)" [placeholder]="'Search by shift'"></input-search>

    <accordion>
      <accordion-group #group>
        <div accordion-heading>
          {{filteredMemberAvails.length}} Member{{filteredMemberAvails.length!=1?"s":""}}
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>

        <ng-container *ngIf="memberAvailabilities.length > 0">
          <dynamic-table [properties]="['member.name','shiftNumber','isBusy()']" [propertyDisplayNames]="['Name', 'Shift Number', 'Committees']" [items]="filteredMemberAvails" [canRemove]="false"></dynamic-table>
        </ng-container>

      </accordion-group>
    </accordion>

  </accordion-group>
</accordion>