<accordion>
  <accordion-group #group>
    <div accordion-heading>
      <strong>{{headerText}}</strong>
      <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>


    <input-search class="stack-element" (searchRequest)="onSearchClicked($event)" [placeholder]="'Search by...'"></input-search>
    <!--<input type="radio" name="radiogroup" [value]="" (change)="onSelectionChange(entry)">-->
    <p>Please fix text color in input</p>
    <form #f="ngForm">
      <input type="radio" value=1 name="searchType" [(ngModel)]="searchType" checked>Name
      <input type="radio" value=2 name="searchType" [(ngModel)]="searchType"> Committee
      <input type="radio" value=3 name="searchType" [(ngModel)]="searchType"> Shift
    </form>

    <accordion>
      <accordion-group #group>
        <div accordion-heading>
          {{filteredMemberAvails.length}} Member{{filteredMemberAvails.length!=1?"s":""}}
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>

        <ng-container *ngIf="memberAvailabilities.length > 0">
          <dynamic-table [properties]="['member.name','shiftIndexes','availabileCommittees']" [propertyDisplayNames]="['Name', 'Shift Number (0-indexed)', 'Committees']" [items]="filteredMemberAvails" [canRemove]="false"></dynamic-table>
        </ng-container>
      </accordion-group>
    </accordion>

  </accordion-group>
</accordion>