<div
  class="row">

  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>
      Edit
      Sessions
    </h3>

  </div>
</div>

<div
  class="row">

  <!--Session name, notes-->
  <div
    class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <!--Session name-->
    <div
      class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-group">
        <input
          type="text"
          name="session-name"
          [(ngModel)]="session.name"
          class="form-control"
          placeholder="Name">
      </div>


    </div>

    <!--Session notes-->
    <div
      class="row">

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
        <textarea
          rows="3"
          class="form-control"
          placeholder="Notes"
          [(ngModel)]="session.notes"></textarea>
      </div>

    </div>

    <div
      class="row">

      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button
          type="button"
          (click)="addSession()"
          class="btn btn-default">Add Session</button>
      </div>


    </div>

  </div>
  <!--End session name, notes-->

  <!--Session time-->
  <div
    class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <div
      class="row">
      <!--Session time from -->
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        <label
          for="_start">From</label>
        <timepicker
          [(ngModel)]="session.startDate"
          name="_start"></timepicker>


      </div>

      <!--Session time to-->
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label
          for="_end">To</label>
        <timepicker
          [(ngModel)]="session.endDate"
          name="_end"></timepicker>

      </div>

    </div>

  </div>
  <!--End session time-->


  <!--Show Error-->
  <div
    class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div
        *ngIf="error"
        class="container">
        <div
          class="alert alert-danger">
          <strong>Please note!</strong>
          <ng-container
            *ngIf="error===1">
            <p>Session
              end
              time
              is
              less
              than
              or
              equal
              to
              its
              start
              time
            </p>
          </ng-container>

          <ng-container
            *ngIf="error===2">
            <p>Session
              name
              is
              required
            </p>
          </ng-container>
        </div>
      </div>
    </div>

  </div>


  <div
    class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <dynamic-table
        [items]="sessions"
        [properties]="['name','startDate','endDate']"
        [applyPipeProps]="[0,1,1]"
        [propertyDisplayNames]="['Name','Start time','End time']"
        [pipe]="pipe"
        [pipeArgs]="['shortTime']"
        (itemRemoved)="onItemRemove($event)"></dynamic-table>
    </div>
  </div>
</div>