<accordion>
  <a routerLink="shift/1">Shift 1</a>
  <ng-container *ngIf="day">

    <ng-container *ngFor="let shift of this.day.shifts;let i=index">
      <ng-container *ngIf="day.availabilities">
        <accordion-group #group class="stack-element">
          <div accordion-heading>
            <b>Shift # {{i+1}}</b>
            <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
          </div>
          <app-shift-assignment [shiftMembersAvailability]="day.availabilities | shiftFilter:i" [shift]="day.shifts[i]" [shiftIndex]="i" (onShiftSave)="saveShift($event,i)"></app-shift-assignment>
        </accordion-group>
      </ng-container>
    </ng-container>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-member-view [memberAvailabilities]="this.day.availabilities"></app-member-view>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="!day">
    <h1>404</h1>
    <strong>Nothing found about day #{{dayId}} </strong>
  </ng-container>