/* You can add global styles to this file, and also import other style files */
.glyphicon{
    color: #0D68A8
}

/*div{
    
    border: 1px solid red;
}*/

.red{
    color: #A30118;
    vertical-align: middle
}