/* You can add global styles to this file, and also import other style files */

.glyphicon{
    color: #2196f3
}

/*div{
    
    border: 1px solid red;
}*/

.red{
    color: #f44336 ;
    vertical-align: middle
}

.vertical-divider{
	clear: both;
	position: relative;
}

.vertical-divider:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.vertical-divider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
	background: #DDDDDD;
	bottom: 0;
	content: " ";
	margin-left: -10px;
	position: absolute;
	top: 0;
	width: 1px;
}

.stack-element{
	margin: 0.5%
}

/* start of menu styles and animation */
#hamb {
    position: fixed;
    top: 30px;
    left: 35px;
    z-index: 99;
    cursor: pointer;
}
#hamb span {
    width: 25px;
    height: 3px;
    background: #b1b1b1;
    display: block;
    margin: 5px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.hamb-open .span2 {
    opacity: 0;
}
.hamb-open .span1 {
    -webkit-transform: rotate(135deg) translate(5px, -5px);
    transform: rotate(135deg) translate(5px, -5px);
}
.hamb-open .span3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.main-nav {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: rgba(2, 90, 180, 0.8);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translate(-300px,0);
    transform: translate(-300px,0);
}
.main-nav .img-wrapper {
    width: 200px;
    height: 200px;
    margin: 70px auto 80px auto;
    border-radius: 50%;
    border: 7px solid #fff;
    position: relative;
}
.main-nav .img-wrapper img {
    width: 180px;
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    -webkit-transform-origin: right;
    transform-origin: right;
}
.main-nav ul li {
    width: 95%;
    height: 45px;
    float: right;
    line-height: 45px;
    background: #017efd;
    margin: 5px 0;
    -webkit-transform: rotate(-6deg) translate(-10%, -60%);
    transform: rotate(-6deg) translate(-10%, -60%);
    opacity: 0;
}
.main-nav ul li:first-of-type {
    -webkit-transition: all 0.5s 0.2s;
    transition: all 0.5s 0.2s;
}
.main-nav ul li:nth-of-type(2) {
    -webkit-transition: all 0.5s 0.3s;
    transition: all 0.5s 0.3s;
}
.main-nav ul li:nth-of-type(3) {
    -webkit-transition: all 0.5s 0.4s;
    transition: all 0.5s 0.4s;
}
.main-nav ul li:nth-of-type(4) {
    -webkit-transition: all 0.5s 0.5s;
    transition: all 0.5s 0.5s;
}
.main-nav ul li:last-of-type {
    -webkit-transition: all 0.5s 0.6s;
    transition: all 0.5s 0.6s;
}
.main-nav ul li a {
    width: 100%;
    height: 45px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.main-nav ul .nav-icon {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 20px;/* change if required*/
    background: #025ab3 url('assets/icons-white.png') no-repeat;
}
.main-nav ul .nav-icon-blue {
    width: 100%;
    height: 100%;/* change if required*/
    background: #e2e2e2 url('assets/icons-blue.png') no-repeat;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}
#nav-icon1, #nav-icon-b1 {
    background-position: 4px 5px;
}
#nav-icon2, #nav-icon-b2 {
    background-position: 4px -55px;
}
#nav-icon3, #nav-icon-b3 {
    background-position: 4px -115px;
}
#nav-icon4, #nav-icon-b4 {
    background-position: 4px -175px;
}
#nav-icon5, #nav-icon-b5 {
    background-position: 4px -235px;
}

/* nav animation */
.main-nav.main-nav-open{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.main-nav.main-nav-open ul li {
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
    opacity: 1;
}
.main-nav ul li a:hover {
    background: #fff;
    color: #017efd;
}
.main-nav ul li a:hover .nav-icon-blue {
    opacity: 1;
}

/*for small devices*/
@media only all and (max-height:640px){
    .main-nav{
        width:260px;
    }
    .main-nav .img-wrapper {
        -webkit-transform:scale(0.8) ;
        transform:scale(0.8) ;
        margin: 20px auto 0 auto;
    }
    .main-nav ul{
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        float: right;
    }
}
/*       End of Menu Style and animation         */


body{
    font-family: "Roboto",sans-serif;
    font-weight:200;
     background: url("assets/background.jpg") fixed;
     background-size: cover;
     color:#fff;
}
.panel-default p,.panel-default h1,.panel-default h2,.panel-default h3,.panel-default h4,.panel-default h5,.panel-default h6,.panel-default a,.panel-default b,.panel-default strong,.panel-default li{
     color:#000;
}
strong{
    font-weight: 400;
}
/********** panels ****************/
.panel-default > .panel-heading,.panel,.panel-group{
    border:none;
    border-radius: 0;
}

.panel.panel-default{
    margin: 5px 0;
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.panel.panel-default:hover{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/************** inputs ***************/
input[type="text"]{
    border-radius: 0;
    border:none;
    border-bottom:2px solid #bdbdbd;
    box-shadow: none;
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
}

input[type=text]:focus{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn:not(.btn-link){
    border:none;
    border-radius: 0;
    color: #fff;
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.btn:not(.btn-link):hover{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.btn.btn-default{
    background: #26a69a;
    transition: 0.3s;
}
.btn.btn-default:active{
    background: #2ab7a9;
    color:#fff;
}

.btn.btn-primary {
    background: #2196f3;
}
.btn.btn-success{
  background: #4caf50;
}
/************ alert ***************/


.alert{
  border:none;
  border-radius: 0;
}
.alert-danger{
  color:#ffebee;
  background: #ef5350 ;
}
.alert-danger p{
  color:#ffebee;
}
.alert-info{
  background: #b2ebf2 ;
}

/***********************************/
.form-control{
  border-radius: 0;
}
/**************** nav-tabs ***************/
li.nav-item > a.nav-link{
  border-radius: 0;
}

/************** table ****************/

table{
  color:#000;
}